@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* Estilos del HEADER */

.header-nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    padding: 10px 0px 10px 20px;
}

.nav-list{
    color: white;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-list li{
    padding: 1rem;
}

/* Estilos del MAIN */

article{
    margin: 2rem .25rem 2rem 1rem;
}

.flex-container{
    display: flex;
    background-color: #E5E5E5;
    flex-wrap: wrap;
}

.promo{
    background-image: url(../img/delivery.svg);
    background-size: cover;
    width: 490px;
    height: 350px;
}

h1{
    margin: 20px;
    color: #FC200C;
    font-weight: 700;
}

span{
    color: white;
    font-weight: 700;
}

.top-5{
    display: flex;
    flex-direction: column;
    width: 490px;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 5px;
    position: relative;
}

h2{
    color: #FC200C;
    align-self: center;
    margin-top: 26px;
}

h3{
    margin-top: 58px;
    margin-left: 69px;
}

ol{
    margin-top: 20px;
    margin-left: 69px;
}

.top-5 img{
    align-self: flex-end;
    margin-top: 132px;
    margin-right: 74px;
    position: absolute;
}

/* Estilos del FOOTER */

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    background-color: black;
}

.footer-container li{
    color: white;
    padding: .25rem;
    margin-left: .5rem;
}

.footer-container img{
    margin-right: 3rem;
}